<html>
  <head>
    <title>Sample HTML app</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <ul>
        <li><a href ="/">Home</a></li>
        <li><a href = "/about">About</a></li>
        <li><a href = "/FAQ">FAQ</a></li>
        <li><a href = "/team">Our Team</a></li>
    </ul>
    <br />
    <br />
    <h1>Frequently Asked Questions</h1>
    <div class = "left">
      <p> HOw do you operate a Dracula Brand Death Machine?</p>
      <p>Follow the instructions contained in the Dracula Brand Ray Gun to operate the Death Machine add on.</p>
      <p>HOUDJSFKLEKHRKEJSjhajnlkf?</P>
      <p>Yes, you can also change the language of the Dracula Brand Death Machine to pure gibberish.</p>
    </div>
    <img src = "volcano.jpg" />
  </body>
</html>
